.card {
border:none;
width: 300px;
padding: 20px;
position: absolute;
top: -40px;
left: 350px;
transform:translate(50%,50%);
background:(hsla205, 46%, 30%, alp1) ;
background-image:url(C:\Users\jerry.krishna\harikrishna241998/mphasis23.jpg);
opacity:0.8;

}

.card  h1,h6{color:#fff;}

label{color:#fff;}

.text-center{text-align: center;}


.label1{border-radius: 20px;
height: 20px;}


.hari1{background-color: rgb(47, 0, 255);
    border-radius: 20px;}
/* 
.hari{background-image: url(C:\Users\jerry.krishna\harikrishna241998/mphasis20.jpg);} */